table,tr,td,th{
    border-bottom:1px solid;
    padding:5px;
    text-align: right;
}

table{
    width:50%;
    margin: 100px auto;    
}

thead tr{
    background-color: rgb(51, 45, 134);
    color:white
}

 tbody tr:hover{
    background:rgb(174, 243, 243);
}



@media (max-width : 768px){
    table{
        font-size: 12px;
        width:100%;
    }   
}

@media (max-width:1024px) {
    table{
        font-size: 12px;
        width: 80%;
    }   
}

nav{
    background-color:whitesmoke;
    position:fixed;
    width: 100%;
    top:0;
    height: 60px;
    text-align: center;
    border-bottom: 1px solid rgb(160, 133, 133);
}

.welcome{
    color:blue;
    margin: 100px auto;
    font-size: 30px;
    font-weight: 1000;
    width: 80%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    animation:fade 2s infinite alternate-reverse;
}

@keyframes fade{
    0%{
        color:rgba(1, 1, 70, 0.671);
        border: 1px solid;
    }

    50%{
       color:rgb(2, 17, 104)
    }
    100%{
        color:rgb(3, 30, 104)
    }
}
